*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html
{
    font-size:62.5%;
}
:root
{
    --white:#FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm:14px;
    --md:16px;
    --lg:18px;
    --oscuro:#232830;
}
body
{
    margin:0;
    font-family:'Quicksand', sans-serif;
    font-size:1.6rem;
    
}
#contenedor
{
    width:100%;
    display:grid;
    
}
#header
{
    display:flex;
    justify-content:space-between;
    padding:20px;
    border-bottom:1px solid var(--very-light-pink);
    
}

#header img
{
    height: 24px;
}

#nav
{
    display:flex;
    flex-direction: column;
    
}
#busqueda
{
    display:flex;
    flex-direction: row;  
    
}
#nav input
{
    position:relative;
    margin:12px;
    border:none;
    border-radius:8px;
    background:var(--text-input-field);
    height:36px;
    width:100%;
    
    
}
#nav input::placeholder
{
    padding-left:44px;
}
#busqueda img
{
    position:absolute;
    width:24px;
    height:20px;
    margin-top:22px; 
    z-index:1;
    margin-left:20px;  
}
#nav ul
{
    list-style:none;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0;
    margin:0 12px 0 12px;
    height:32px;
    /* list-style:none;
    padding:0;
    margin:0;
    display:flex;
    align-items:center;
    height:60px;
    justify-content:space-between; */
}
#nav ul a
{
    text-decoration:none;
    color:var(--very-light-pink);
    border:1px solid var(--white);
    padding:12px;
    border-radius:8px;
    /* text-decoration:none;
    color:var(--very-light-pink);
    border:1px solid var(--white);
    padding:8px;
    border-radius:8px; */ 
}
#nav ul a:hover
{
    border: 1px solid var(--hospital-green);
    color:var(--hospital-green);
}
#section
{
    text-align:center;
    color:var(--very-light-pink);
    font-weight:300;
}
#negrita
{
    color:#000000;
}
#section img
{
    transform: rotate(90deg);
    filter:invert(100%);
    color:var(--black);
    cursor:pointer;
}
#article
{
    display:grid;
    grid-template-columns: repeat(auto-fill,160px);
    place-content:center;
    gap:24px;
    
}
#remove
{
    display:inline-block;
    width:160px;
    height:212px;
}
#remove div:nth-child(1)
{
    position:relative;
    display:inline-block;
    text-align:center;
}
#pespecial
{   
    color:transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#pespecial:hover
{   
    background-color:white;
    color:black;
    opacity:0.73;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border:1px solid none;
    border-radius:8px;
    width:120px;
    height:40px;
    cursor:pointer;
}


#remove div img:nth-child(1)
{
    width:160px;
    height:132px;
    border-radius:16px;
    position: relative;
}
#remove div:nth-child(2)
{
    display:grid;
    grid-template-columns:1fr 1fr;
    width:160px;
    position:relative;
}
#remove div p
{
    margin:4px 0 0 0;
    font-weight: bold;
    
}
#remove div p:nth-child(2)
{
    grid-column:1/2;
    font-weight: 200;
}
.icon
{   
    position:absolute;
    width:40px;
    height:40px;
    justify-self: right;
    grid-column:2;
    grid-row:1/2;
    box-shadow:1px 1px 12px rgb(176, 229, 176);
    border-radius:20px;
}
#especial
{
    box-shadow: 1px 2px 8px rgb(210, 203, 203);
    border-radius:30px;
    /* border:2px solid var(--text-input-field);
    border-radius:30px; */
}
#contenedor 
{
    display:grid;
}
#header
{
    display:flex;
    justify-content:space-between;
    height: 24px;
    border-bottom:1px solid var(--text-input-field);
    padding:12px;
}
#fecha
{
    display:grid;
    grid-template-columns: 1fr auto;
    border:none;
    background:var(--text-input-field);
    border-radius:8px;
    margin:16px;
    place-items:center;
}
#fecha p
{
    justify-self: left;
    font-weight:200;
    margin:16px;
}
.imagen
{
    display:grid;
    grid-template-columns: auto auto 1fr ;
    place-items:center;
    margin:16px;
}
.imagen p
{
    margin:20px;
    justify-self: right;
}
.imagen img
{
    border-radius:16px;
    height:80px;
    width:80px;
}